#notification{
	position: fixed;
	z-index: 100;
	width: calc(100% - 20px);
	top: 10px;
	left: 10px;
}

#statusTable tr > th{
	width: 50px;
	text-align: center;
}

.indicatorBadage span{
	margin-right: 5px;
}

.indicatorBadage span:last-child{
	margin-right: 0px;
}