/* ----- General ----- */
#notification{
	position: fixed;
	z-index: 100;
	width: calc(100% - 20px);
	top: 10px;
	left: 10px;
}

/* ----- Status ----- */
#statusTable tr > th{
	width: 50px;
	text-align: center;
}

/* ----- Tube Single ----- */
@media (max-width: 400px) { 
	.inputPinNumber{
		min-width: 120px;
	}
}

/* ----- Footer ----- */
footer{
	text-align: center;
}

.indicatorBadage span{
	margin-right: 5px;
}

.indicatorBadage span:last-child{
	margin-right: 0px;
}