		<footer class="container-fluid bg-light">
			<p>Created by <a href="https://github.com/robbyHuelsi">Robert Hülsmann</a>  &mdash;  Version 1.1  &mdash; 
				<a href="/status">
					<span class="badge badge-dark indicatorBadage">
						<span class="webserverStatusIndicator">
							<i class='fas fa-server text-muted' aria-hidden='true'></i>
						</span>
						<span class="databaseStatusIndicator">
							<i class='fas fa-database text-muted' aria-hidden='true'></i>
						</span>
						<span class="arduinoStatusIndicator">
							<i class='fas fa-infinity text-muted' aria-hidden='true'></i>
						</span>
					</span>
				</a>
			</p>
		</footer>
 
	</div>
</body>

<script>
	document.body.onload = function(){mmLiveLoadOn()};
</script>

</html>