{% include "header.html" %}

<main>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1>LED Red</h1>
			<p class="lead"></p>
			<p>
					<!-- <button type="button" class="btn btn-success" onclick="mmAjaxStatus('ledRedOn')">LED ON</button>
					<button type="button" class="btn btn-success"  onclick="mmAjaxStatus('ledRedOff')">LED OFF</button> -->
					<a id="buttonLedRedOn" class="btn btn-lg btn-success" href="#" role="button" aria-pressed="true" onclick="mmAjaxStatus('ledRedOn')">LED ON</a>
					<a id="buttonLedRedOff" class="btn btn-lg btn-success" href="#" role="button" aria-pressed="true" onclick="mmAjaxStatus('ledRedOff')">LED OFF</a>
			</p>
		</div>
	</div>
	
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1>LED Yellow</h1>
			<p class="lead"></p>
			<p>
					<a id="buttonLedYellowOn" class="btn btn-lg btn-success" href="#" role="button" aria-pressed="true" onclick="mmAjaxStatus('ledYellowOn')">LED ON</a>
					<a id="buttonLedYellowOff" class="btn btn-lg btn-success" href="#" role="button" aria-pressed="true" onclick="mmAjaxStatus('ledYellowOff')">LED OFF</a>
			</p>
		</div>
	</div>
	
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1>Servo 1</h1>
			<p class="lead"></p>
			<p>
					<a id="buttonServo1On" class="btn btn-lg btn-success" href="#" role="button" aria-pressed="true" onclick="mmAjaxStatus('servo1On')">LED ON</a>
					<a id="buttonServo2Off" class="btn btn-lg btn-success" href="#" role="button" aria-pressed="true" onclick="mmAjaxStatus('servo1Off')">LED OFF</a>
			</p>
		</div>
	</div>
</main>
 
{% include "footer.html" %}