{% from '_macros.html' import user_form as user_form %}
{% include "header.html" %}

<main>
    <div class="container my-3">
        <div class="card text-center">
            <div class="card-header">
                <h1>Muesli Machine</h1>
            </div>
            <div class="card-body">
				<form class="form-login" method="post">
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fa fa-user" aria-hidden="true"></i>
							</div>
						</div>
						<input
                                type="name"
                                name="username"
                                id="input_username"
                                class="form-control"
                                placeholder="Username"
                                autocomplete="username"
                                required
                                autofocus>
					</div>
					
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</div>
						</div>
						<input
                                type="password"
                                name="password"
                                id="input_password"
                                class="form-control"
                                placeholder="Password"
                                autocomplete="current-password"
                                required>
					</div>
					
					<button type="submit" value=login class="btn btn-lg btn-primary btn-block">Log In</button>
				</form>
			</div>
            <div class="card-footer text-muted">
                {% include "footer_statusbar.html" %}
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}