{% include "header.html" %}

<main>       
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1>Log In</h1>
			
			<div class="my-3">
				<form class="form-signin" method="post">
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fa fa-user" aria-hidden="true"></i>
							</div>
						</div>
						<input type="name" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
					</div>
					
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</div>
						</div>
						<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
					</div>
					
					<button type="submit" value=login class="btn btn-lg btn-primary btn-block">Sign Up</button>
				</form>
			</div>
		</div>
	</div>
</main>
 
{% include "footer.html" %}