{% include "header.html" %}

<main>       
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<form class="form-signin" method="post">
				<div class="input-group mb-2">
					<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span></span>
					<input type="name" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
				</div>
				
				<div class="input-group mb-2">
					<span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span></span>
					<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
				</div>
				
				<button type="submit" value=login class="btn btn-lg btn-primary btn-block">Sign Up</button>
			</form>
		</div>
	</div>
</main>
 
{% include "footer.html" %}