{% include "header.html" %}

<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>List of Recipes <i class="fas fa-book"></i></h1>

            <div class="my-3">
                {% if recipes|length > 0 %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col" class="align-middle">Name</th>
                            <th scope="col" class="align-middle">Ingredients</th>
                            <th scope="col" class="align-middle">Allergy Information</th>
                            <th scope="col" class="align-middle">Price</th>
                            <th scope="col" class="align-middle"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for recipe in recipes %}
                            <tr>
                                <th scope="row" class="align-middle">
                                    {{ recipe.recipe_name }}
                                    <span class="font-weight-normal text-secondary"> by {{ recipe['user_username'] }}</span>
                                </th>
                                <td class="align-middle">
                                    ###
                                </td>
                                <td class="align-middle">
{#                                    {{ allergy_badge(value=ingredient['ingredient_glutenfree'],#}
{#                                                    name_free='GLUTENFREE', name_contains='CONTAINS GLUTEN') }}#}
{#                                    {{ allergy_badge(value=ingredient['ingredient_lactosefree'],#}
{#                                                    name_free='LACTOSEFREE', name_contains='CONTAINS LACTOSE') }}#}
                                </td>
                                <td class="align-middle">
{#                                    {{ ingredient['ingredient_price'] }} € / g#}
                                </td>
                                {#                            <td class="align-middle">{{item[6]}}</td>#}
                                <td class="align-middle">
                                    <a class="btn btn-primary btn-sm" href="{{ recipe['recipe_uid'] }}/"
                                       role="button">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No recipe here.</p>
                {% endif %}

                <div class="my-3">
                    {% if tubes|length == 0 %}
                        <p>You must first <a href="/tube/add/">add a tube </a> and an ingredient before you can add a recipe.</p>
                    {% elif ingredients|length == 0 %}
                        <p>You must first <a href="/ingredient/add/">add an ingredient</a> before you can add a recipe.</p>
                    {% endif %}
                    <a
                            class="btn btn-success btn-lg btn-block {% if ingredients|length == 0 %}disabled{% endif %}"
                            href="add/"
                            role="button">
                        Add Recipe
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
 
{% include "footer.html" %}