{% macro allergy_info(name, value) -%}
    {% if value == true %}
{#        <span class="badge badge-info">GLUTENFREE</span>#}
    {% else %}
        <span class="badge badge-danger">{{ name }}</span>
    {% endif %}
{%- endmacro %}

{% include "header.html" %}

<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% if recipe %}
                <h1>Edit Recipe <i class="fas fa-file-alt"></i></h1>
                <div class="my-3">
                    <p>ID: <span class="badge badge-info">{{ recipe[0]['recipe_uid'] }}</span></p>
                    <p>Creator: <span class="badge badge-info">{{ recipe[0]['recipe_creator'] }}</span></p>
                </div>
            {% else %}
                <h1>New Recipe <i class="fas fa-file-alt"></i></h1>
            {% endif %}

            <div class="my-3">
                <form method="post">
                    {% if recipe %}
                        <input type="hidden" name="recipe_id" value="{{ recipe[0]['recipe_uid'] }}">
                    {% endif %}

                    <h4>{% if recipe %}Edit{% else %}Set{% endif %} Properties</h4>
                    <label for="input_recipe_name" class="sr-only">Name</label>
                    <input
                            type="name"
                            name="recipe_name"
                            id="input_recipe_name"
                            class="form-control mb-2"
                            placeholder="Name"
                            autocomplete="off"
                            value="{% if recipe %}{{ recipe[0]['recipe_name'] }}{% endif %}"
                            autofocus>

                    {#                    <hr class="my-3">#}

                    <div class="card-deck mb-3">
                        <div class="card">
                            <h5 class="card-header">List of Used Ingredients</h5>
                            <div class="card-body p-0">
                                <table class="table table-hover m-0 recipe_ingredient_list">
                                    {% for ingredient in all_ingredients %}
                                        <tr>
                                            <th
                                                    scope="row"
                                                    class="align-middle"
                                                    style="white-space: nowrap; padding-left: 20px;">
                                                {{ loop.revindex }}.
                                            </th>
                                            <td class="align-middle" style="white-space: nowrap;">
                                                <label for="input_amount_{{ loop.revindex }}" class="sr-only">Amount</label>
                                                <div class="input-group" style="min-width: 110px;">
                                                    <input
                                                            type="number"
                                                            name="amount_{{ loop.revindex }}"
                                                            id="input_amount_{{ loop.revindex }}"
                                                            class="form-control"
                                                            min="0"
                                                            step="1"
                                                            value="0"
                                                            size="3"
                                                            dir="rtl"
                                                            aria-describedby="addon_amount_{{ loop.revindex }}">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="addon_amount_{{ loop.revindex }}">g</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle" width="99%">{{ ingredient['ingredient_name'] }}</td>
                                            <td class="align-middle" style="white-space: nowrap; padding-right: 20px;">
                                                <button type="button" class="btn btn-primary">
                                                    <i class="fas fa-chevron-up"></i>
                                                </button>
                                                <button type="button" class="btn btn-primary">
                                                    <i class="fas fa-chevron-down"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>

                        <div class="card">
                            <h5 class="card-header">List of All Ingredients</h5>
                            <div class="card-body p-0">
                                <table class="table table-hover m-0 recipe_ingredient_list">
                                    {% for ingredient in all_ingredients %}
                                        <tr>
                                            <th
                                                    scope="row"
                                                    class="align-middle"
                                                    style="padding-left: 20px;"
                                                    width="99%">
                                                {{ ingredient['ingredient_name'] }}
                                            </th>
                                            <td class="align-middle" style="white-space: nowrap;">
                                                {{ allergy_info('G', ingredient['ingredient_glutenfree']) }}
                                                {{ allergy_info('L', ingredient['ingredient_lactosefree']) }}
                                            </td>
                                            <td class="align-middle" style="white-space: nowrap;">{{ ingredient['ingredient_price'] }} €
                                                / g
                                            </td>
                                            <td class="align-middle" style="padding-right: 20px;">
                                                <button type="button" class="btn btn-success">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>

                    <button name="cmd" value="{% if recipe %}edit{% else %}add{% endif %}"
                            class="btn btn-primary btn-lg btn-block">Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}