{% from '_macros.html' import allergy_badge as allergy_badge %}
{% from '_macros.html' import recipeSingle_usedIngredientsTr as usedIngredientsTr %}
{% include "header.html" %}

<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% if recipe %}
                <h1>Edit Recipe <i class="fas fa-file-alt"></i></h1>
                <div class="my-3">
                    <p>ID: <span class="badge badge-info">{{ recipe[0]['recipe_uid'] }}</span></p>
                    <p>Creator: <span class="badge badge-info">{{ recipe[0]['recipe_creator'] }}</span></p>
                </div>
            {% else %}
                <h1>New Recipe <i class="fas fa-file-alt"></i></h1>
            {% endif %}

            <div class="my-3">
                <form method="post">
                    {% if recipe %}
                        <input type="hidden" name="recipe_id" value="{{ recipe[0]['recipe_uid'] }}">
                    {% endif %}

                    <h4>{% if recipe %}Edit{% else %}Set{% endif %} Properties</h4>
                    <label for="input_recipe_name" class="sr-only">Name</label>
                    <input
                            type="name"
                            name="recipe_name"
                            id="input_recipe_name"
                            class="form-control mb-2"
                            placeholder="Name"
                            autocomplete="off"
                            value="{% if recipe %}{{ recipe[0]['recipe_name'] }}{% endif %}"
                            autofocus>

                    {#                    <hr class="my-3">#}

                    <div class="card-deck mb-3">
                        <div class="card">
                            <h5 class="card-header">List of Used Ingredients</h5>
                            <div class="card-body p-0">
                                <table id="recipeSingle_usedIngredientsTable"
                                       class="table table-hover m-0 recipe_ingredient_list">
                                    <tbody>
                                    {% for ingredient in used_ingredients %}
                                        {% set i = loop.index %}
                                        {% set ing_id = ingredient['ingredient_uid'] %}
                                        {% set ing_name = ingredient['ingredient_name'] %}
                                        {% set ir_id = ingredient['ir_uid'] %}
                                        {{ usedIngredientsTr(i, ing_id, ing_name, ir_id) }}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card">
                            <h5 class="card-header">List of All Ingredients</h5>
                            <div class="card-body p-0">
                                <table class="table table-hover m-0 recipe_ingredient_list">
                                    <tbody>
                                        {% for ingredient in all_ingredients %}
                                            <tr>
                                                <th
                                                        scope="row"
                                                        class="align-middle"
                                                        style="padding-left: 20px;"
                                                        width="99%">
                                                    {{ ingredient['ingredient_name'] }}
                                                </th>
                                                <td class="align-middle" style="white-space: nowrap;">
                                                    {{ allergy_badge(ingredient['ingredient_glutenfree'], '', 'G') }}
                                                    {{ allergy_badge(ingredient['ingredient_lactosefree'], '', 'L') }}
                                                </td>
                                                <td class="align-middle"
                                                    style="white-space: nowrap;">{{ ingredient['ingredient_price'] }} €
                                                    / g
                                                </td>
                                                <td class="align-middle" style="padding-right: 20px;">
                                                    <button type="button" class="btn btn-success"
                                                            onclick='add_ingredient({{ ingredient|tojson }});'>
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <button name="cmd" value="{% if recipe %}edit{% else %}add{% endif %}"
                            class="btn btn-primary btn-lg btn-block">Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

{#<script src="../static/js/recipeSingle.js"></script>#}

<script type="application/javascript">
    function get_tr_html(i, ing_id, ing_name, ir_id) {
        {% set new_tr_html = usedIngredientsTr("' + i + '", "' + ing_id + '", "' + ing_name + '", "' + ir_id + '") %}
        return '{{ new_tr_html|replace("\n", " ")|replace("    ", " ") }}';
    }

    function add_ingredient(ing) {
        let tbl_body = document.getElementById('recipeSingle_usedIngredientsTable').getElementsByTagName('tbody')[0];
        let index = tbl_body.childElementCount + 1;
        let new_tr_html = get_tr_html(index, ing['ingredient_uid'], ing['ingredient_name'], "" );
        let old_inner = tbl_body.innerHTML;
        tbl_body.innerHTML = new_tr_html + old_inner;
    }

</script>

{% include "footer.html" %}