{% include "header.html" %}

<main>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1>Sign Up</h1>
			
			<div class="my-3">
				<form class="form-signin" id="formSignUp">
					<label for="inputFirstname" class="sr-only">Name</label>
					<input type="name" name="inputFirstname" id="inputFirstname" class="form-control mb-2" placeholder="Firstname" autofocus>
					
					<label for="inputLastname" class="sr-only">Name</label>
					<input type="name" name="inputLastname" id="inputLastname" class="form-control mb-4" placeholder="Lastname">
					
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
						</div>
						<input type="name" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required>
					</div>
					
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
						</div>
						<input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email Address" required>
					</div>
					
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
						</div>
						<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
					</div>
					
					<button id="buttonSignUp" class="btn btn-lg btn-primary btn-block" type="button" onclick="mmAjaxSignUp(document.getElementById('formSignUp'))">Sign Up</button>
				</form>
			
				<p class="mt-4">
					<i class="fa fa-star" aria-hidden="true"></i> Requiered
				</p>
			</div>
		</div>
	</div>
</main>
 
{% include "footer.html" %}