{% from '_macros.html' import user_form as user_form %}
{% include "header.html" %}

<main>
    <div class="container my-3">
        <div class="card text-center">
            <div class="card-header">
                <h1>Sign up to get a muesli <i class="fas fa-utensil-spoon"></i></h1>
            </div>
            <div class="card-body">
                <p class="text-right mb-2"><a href="/login">I already have an account</a></p>
                {{ user_form(user, 'signup') }}
            </div>
            <div class="card-footer text-muted">
                {% include "footer_statusbar.html" %}
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}