{% include "header.html" %}

<main>
    <div class="container my-3">
        <div class="card text-center">
            <div class="card-body">
                <h1 class="card-title">Waiting for database.</h1>
                <h5>
                    {# 0 => disconnected / 1 => connecting / 2 => setting up / 3 => connected #}
                    {% if mm_status.database == 0 %}
                        Database is disconnected.
                    {% elif mm_status.database == 1 %}
                        Database is connecting...
                    {% elif mm_status.database == 2 %}
                        Database is setting up...
                    {% elif mm_status.database == 3 %}
                        Database is connected.
                    {% endif %}
                </h5>
            </div>
            <div class="card-footer text-muted">
                {% include "footer_statusbar.html" %}
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}