{% include "header.html" %}

<main>

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1>Status</h1>

			<table class="table table-bordered">
				<tbody>
					<tr>
						<th scope="row">
							<i class="fa fa-circle text-danger" aria-hidden="true"></i>
						</th>
						<td>Database</td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<th scope="row">
							<i class="fa fa-circle text-danger" aria-hidden="true"></i>
						</th>
						<td>Arduino</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
        
</main>
 
{% include "footer.html" %}