{% include "header.html" %}

<main>

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1>List of Tubes <i class="fas fa-vials"></i></h1>
			
			<div class="my-3">
{% if items|length > 0 %}
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col" class="align-middle">ID</th>
							<th scope="col" class="align-middle">Pins</th>
							<th scope="col" class="align-middle">Filling</th>
							<th scope="col" class="align-middle"></th>
						</tr>
					</thead>
					<tbody>
{% for item in items %}
						<tr>
							<th scope="row" class="align-middle">{{item['tube_uid']}}</th>
							<td class="align-middle">
								<span class="badge badge-info">{{item['tube_gpio_1']}}</span>
								<span class="badge badge-info">{{item['tube_gpio_2']}}</span>
								<span class="badge badge-info">{{item['tube_gpio_3']}}</span>
								<span class="badge badge-info">{{item['tube_gpio_4']}}</span>
							</td>
							<td class="align-middle"></td>
							<td class="align-middle">
								<a class="btn btn-primary btn-sm" href="{{item['tube_uid']}}/" role="button">Edit</a>
							</td>
						</tr>
{% endfor %}
				</tbody>
			</table>
{% else %}
			<p>No tube here.</p>
{% endif %}
			<div class="my-3">
				<a class="btn btn-success btn-lg btn-block" href="add/" role="button">Add Tube</a>
			</div>
		</div>
	</div>
        
</main>
 
{% include "footer.html" %}