{% include "header.html" %}

<main>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
{% if item %}
			<h1>Tube #{{item[0][0]}} <i class="fas fa-vial"></i></h1>
{% else %}
			<h1>New Tube <i class="fas fa-vial"></i></h1>
{% endif %}
			<div class="my-3">
				<h4>Pins</h4>
				<p>All pin fieds are requiered.</p>
				<form method="post">
{% if item %}
					<input type="hidden" name="itemId" value="{{item[0][0]}}">
{% endif %}
					<div class="form-row align-items-center">
						<div class="inputPinNumber col mb-3">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">A</span>
								</div>
								<input type="text" class="form-control" id="pin1" name="pin1" value="{% if item %}{{item[0][1]}}{% endif %}">
							</div>
						</div>
						<div class="inputPinNumber col mb-3">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">B</span>
								</div>
								<input type="text" class="form-control" id="pin2" name="pin2" value="{% if item %}{{item[0][2]}}{% endif %}">
							</div>
						</div>
						<div class="inputPinNumber col mb-3">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">C</span>
								</div>
								<input type="text" class="form-control" id="pin3" name="pin3" value="{% if item %}{{item[0][3]}}{% endif %}">
							</div>
						</div>
						<div class="inputPinNumber col mb-3">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">D</span>
								</div>
								<input type="text" class="form-control" id="pin4" name="pin4" value="{% if item %}{{item[0][4]}}{% endif %}">
							</div>
						</div>
					</div>
					<button name="cmd" value="{% if item %}edit{% else %}add{% endif %}" class="btn btn-primary btn-lg btn-block">Save</button>
				</form>
			</div>
{% if item %}
			<div class="my-3">
				<h4>Filling</h4>
				<p>Lorem ipsum</p>
			</div>

			<div class="my-3">
				<h4>Test</h4>
				<p>
						<a id="buttonStepper{{item[0][0]}}Rot" class="btn btn-lg btn-success btn-lg btn-block" href="#" role="button" aria-pressed="true" onclick="cmd = {'stepper':{'id':{{item[0][0]}},'steps':10}}; mmAjaxStatus(JSON.stringify(cmd));">Rotate 10 Steps</a>
				</p>
			</div>
			
			<div class="my-3">
				<h4>Danger Zone</h4>
				<form method="post">
					<button name="cmd" value="delete" class="btn btn-danger btn-lg btn-block">Delete Tube #{{item[0][0]}}</button>
				</form>
			</div>
{% endif %}
		</div>
	</div> 
</main>
 
{% include "footer.html" %}