{% include "header.html" %}

<main>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
{% if item %}
			<h1>Tube #{{item.tube_uid}} <i class="fas fa-vial"></i></h1>
{% else %}
			<h1>New Tube <i class="fas fa-vial"></i></h1>
{% endif %}
			<div class="my-3">
				<h4>{% if item %}Edit{% else %}Set{% endif %} Pins</h4>
				<p>All pin fieds are requiered.</p>
				<form method="post">
{% if item %}
					<input type="hidden" name="item_id" value="{{item.tube_uid}}">
{% endif %}
					<div class="form-row align-items-center">
						<div class="inputPinNumber col mb-2">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">A</span>
								</div>
								<input type="text" class="form-control" id="input_pin_1" name="pin_1" value="{% if item %}{{item.tube_gpio_1}}{% endif %}" autofocus required>
							</div>
						</div>
						<div class="inputPinNumber col mb-2">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">B</span>
								</div>
								<input type="text" class="form-control" id="input_pin_2" name="pin_2" value="{% if item %}{{item.tube_gpio_2}}{% endif %}" required>
							</div>
						</div>
						<div class="inputPinNumber col mb-2">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">C</span>
								</div>
								<input type="text" class="form-control" id="input_pin_3" name="pin_3" value="{% if item %}{{item.tube_gpio_3}}{% endif %}" required>
							</div>
						</div>
						<div class="inputPinNumber col mb-2">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">D</span>
								</div>
								<input type="text" class="form-control" id="input_pin_4" name="pin_4" value="{% if item %}{{item.tube_gpio_4}}{% endif %}" required>
							</div>
						</div>
					</div>
					<button name="cmd" value="{% if item %}edit{% else %}add{% endif %}" class="btn btn-primary btn-lg btn-block">Save</button>
				</form>
			</div>
{% if item %}
			<div class="my-3">
				<h4>Filling</h4>
				<p>Lorem ipsum</p>
			</div>

			<div class="my-3">
				<h4>Test</h4>
				<p>
						<a id="buttonStepper{{item.tube_uid}}Rot" class="btn btn-lg btn-success btn-lg btn-block" href="#" role="button" aria-pressed="true" onclick="cmd = {'stepper':{'id':{{item.tube_uid}},'steps':10}}; mmAjaxStatus(JSON.stringify(cmd));">Rotate 10 Steps</a>
				</p>
			</div>
			
			<div class="my-3">
				<h4>Danger Zone</h4>
				<form method="post">
					<button name="cmd" value="delete" class="btn btn-danger btn-lg btn-block">Delete Tube #{{item.tube_uid}}</button>
				</form>
			</div>
{% endif %}
		</div>
	</div> 
</main>
 
{% include "footer.html" %}