<p class="m-0">
    <span class="preIndicatorBadage">
        Created by <a href="https://github.com/robbyHuelsi">Robert Hülsmann</a> &mdash; {{ mm_version }} &mdash;
    </span>
    <a href="/status">
        <span class="badge badge-dark indicatorBadage">
            <span class="webserverStatusIndicator">
                <i class='fas fa-server text-muted' aria-hidden='true'></i>
            </span>
            <span class="databaseStatusIndicator">
                <i class='fas fa-database text-muted' aria-hidden='true'></i>
            </span>
            <span class="arduinoStatusIndicator">
                <i class='fas fa-infinity text-muted' aria-hidden='true'></i>
            </span>
        </span>
    </a>
</p>