{% include "header.html" %}

<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% if ingredient.ingredient_uid %}
                <h1>Edit Ingredient <i class="fas fa-apple-alt"></i></h1>
                <div class="my-3">
                    <p>ID: <span class="badge badge-info">{{ ingredient.ingredient_uid }}</span></p>
                </div>
            {% else %}
                <h1>New Ingredient <i class="fas fa-apple-alt"></i></h1>
            {% endif %}

            <div class="mt-3">
                <form method="post">
                    {% if ingredient.ingredient_uid %}
                        <input type="hidden" name="ingredient_uid" value="{{ ingredient.ingredient_uid }}">
                    {% endif %}

                    <h4>{% if ingredient.ingredient_uid %}Edit{% else %}Set{% endif %} Properties</h4>
                    <div class="card-deck mb-3">
                        <div class="card">
                            <h5 class="card-header">Main Properties</h5>
                            <div class="card-body">
                                <p>Both fields are required:</p>
                                <label for="input_ingredient_name" class="sr-only">Name</label>
                                <div class="input-group mb-2">
{#                                    <div class="input-group-prepend">#}
{#                                        <div class="input-group-text">#}
{#                                            Name#}
{#                                        </div>#}
{#                                    </div>#}
                                    <input
                                            type="text"
                                            name="ingredient_name"
                                            id="input_ingredient_name"
                                            class="form-control"
                                            placeholder="Name"
                                            autocomplete="off"
                                            value="{{ ingredient.ingredient_name }}"
                                            autofocus
                                            required>
                                </div>

                                <label for="input_ingredient_tube" class="sr-only">Tube</label>
                                <select
                                        name="ingredient_tube"
                                        id="input_ingredient_tube"
                                        class="form-control mb-2"
                                        required>
                                    <option
                                            hidden
                                            disabled
                                            {% if not ingredient.ingredient_tube %}selected{% endif %}
                                            value>
                                        Select Tube
                                    </option>
                                    {% for tube in tubes %}
                                        <option
                                                value="{{ tube['tube_uid'] }}"
                                                {% if ingredient.ingredient_tube == tube['tube_uid'] %}selected{% endif %}
                                        >
                                            Tube #{{ tube['tube_uid'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="card">
                            <h5 class="card-header">Allergy Information</h5>
                            <div class="card-body">
                                <div class="form-check">
                                    <input
                                            type="checkbox"
                                            name="ingredient_glutenfree"
                                            value="true"
                                            id="input_ingredient_glutenfree"
                                            class="form-check-input"
                                            {% if ingredient.ingredient_glutenfree %}checked{% endif %}>
                                    <label for="input_ingredient_glutenfree" class="form-check-label">Glutenfree</label>
                                </div>
                                <div class="form-check">
                                    <input
                                            type="checkbox"
                                            name="ingredient_lactosefree"
                                            value="true"
                                            id="input_ingredient_lactosefree"
                                            class="form-check-input"
                                            {% if ingredient.ingredient_lactosefree %}checked{% endif %}>
                                    <label for="input_ingredient_lactosefree" class="form-check-label">Lactosefree</label>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <h5 class="card-header">Price</h5>
                            <div class="card-body">
                                <label for="input_ingredient_price" class="sr-only">Price</label>
                                <div class="input-group mb-2">
                                    <input
                                            type="number"
                                            name="ingredient_price"
                                            id="input_ingredient_price"
                                            class="form-control"
                                            min="0"
                                            step="0.01"
                                            value="{% if ingredient.ingredient_price %}{{ ingredient.ingredient_price }}{% else %}0.00{% endif %}"
                                            aria-describedby="price_addon">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="price_addon">€ / g</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button name="cmd" value="{% if ingredient.ingredient_uid %}edit{% else %}add{% endif %}"
                            class="btn btn-primary btn-lg btn-block">Save
                    </button>
                </form>
            </div>
            <div class="mt-3">
                <h4>Motor Tuning</h4>
                <p>Not implemented yet</p>
            </div>
            {% if ingredient.ingredient_uid %}
                <div class="mt-3">
                    <h4>Danger Zone</h4>
                    <form method="post">
                        <button name="cmd" value="delete" class="btn btn-danger btn-lg btn-block">
                            Delete {{ ingredient.ingredient_name }}</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</main>

{% include "footer.html" %}